.hero-container {
	height: 55vh;
	background: url("../assets/images/Baratie-ship.png");
	background-size: cover;
	background-position: 0% 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-container .main-wrapper {
	flex: 1;
	display: flex;
	background-color: #0c3035cb;
	gap: clamp(30px, 7vw, 200px);
	padding: 30px 20px 0 0;
}

.hero-container .main-wrapper .left {
	display: flex;
	align-items: end;
	width: 300px;
}

.hero-container .main-wrapper .left img {
	width: 100%;
}

.hero-container .main-wrapper .right {
	color: white;
	flex: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}
